.container-grid-instructor-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.container-card-instructor-page {
    display: flex;
    flex-direction: column;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 1.5rem;
    gap: 1.4rem;
}

.container-card-instructor-page:hover {
    box-shadow: 0 0 8px 1px #dcdcdc;
}

.content-header-card-instructor-page {
    display: flex;
}

.info-name-card-instructor-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info-name-card-instructor-page>span {
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    font-weight: 500;
}

.info-name-card-instructor-page>p {
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 500;
    color: #6f6e6e;
}

.content-header-card-instructor-page>span {
    background-color: #dafde7;
    color: #019537;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: clamp(0.8rem, 2vw, 0.8rem);
    font-weight: 500;
}

.content-body-card-instructor-page {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.content-contact-info-card-instructor-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-contact-info-card-instructor-page>p {
    display: flex;
    gap: 0.7rem;
    color: #6f6e6e;
    font-size: clamp(0.9rem, 2vw, 0.9rem);
}

.content-band-info-card-instructor-page {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-band-info-card-instructor-page {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.9rem, 2vw, 0.9rem);
}

.content-squads-asigned-card-instructor-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-squads-asigned-card-instructor-page>span {
    color: #6f6e6e;
    font-size: clamp(0.9rem, 2vw, 0.9rem);
}

.squads-list-asigned-card-instructor-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: center;
}

.squads-list-asigned-card-instructor-page>span {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    border-radius: 20px;
    gap: 10px;
    font-size: clamp(13px, 1.02vw, 0.7rem);
}

.squads-list-principal {
    background-color: #dbeafe;
    color: #255be8;
}

.squads-list-secondary {
    background-color: #dafde7;
    color: #019537;
}

.container-card-instructor-page>button {
    background-color: #f3f4f6;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 10px;
}

.container-card-instructor-page>button:hover {
    background-color: #dcdcdc;
}

@media screen and (min-width: 768px) {
    .container-grid-instructor-page {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1024px) {
    .content-header-card-instructor-page>span {
        padding: 0.4rem 0.9rem;
        margin-bottom: auto;
    }

    .squads-list-asigned-card-instructor-page {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .container-card-instructor-page>button {
        padding: 0.6rem;
    }

}

@media screen and (min-width: 1200px) {
    .container-grid-instructor-page {
        grid-template-columns: repeat(3, 1fr);
    }
}